<app-header></app-header>

<main>
    <section class="main-section">
        <div class="headline">
            <span>4DEVS Consultoria</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img ngSrc="principal.png" width="670" height="535"/>
    </section>
    
    <section class="benefit-section">
    <div class="benefit-data">
        <h2>
            95% das<br/>
            empresas
        </h2>
    </div>
    <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <newsletter-form></newsletter-form>
    <section class="team">
        <div class="team-card">
            <img ngSrc="team.png" width="609" height="588"/>
            <h1>Equipe capacitada</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.
            </p>
        </div>
        <div class="team-card">
            <img ngSrc="project-guide.png" width="609" height="588"/>
            <h1>Seus projetos guiados do zero</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.
            </p>
        </div>
    </section>
    <section class="footer-contact">
        <h1>
            Quer elevar seu software e seus negócios para outro nível?
        </h1>
        <btn-primary btn-text="fale com nossos especialistas"></btn-primary>
    </section>
    <footer class="pad-70">
        <div class="socials">
            <img ngSrc="logo-footer.png" width="134" height="45"/>
            <img ngSrc="social-media.png" width="100" height="40"/>
        </div>
    </footer>
</main>