<app-header></app-header>

<main>
    <section class="main-section">
        <div class="headline">
            <span>4DEVS Consultoria</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img ngSrc="principal.png" width="670" height="535"/>
    </section>
    
    <section class="benefit-section">
    <div class="benefit-data">
        <h2>
            95% das<br/>
            empresas
        </h2>
    </div>
    <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de requisições.</p>
    </section>
</main>